{
    "plugins": [
        "@emotion",
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "ducks": "./src/redux",
                    "components": "./src/components",
                    "globalStyle": "./src/globalStyle",
                    "app": "./src/app",
                }
            }
        ]
    ]
}