# macOS
.DS_Store

# idea
.idea
.vscode

# python
.venv
venv
consult_venv
__pycache__/
*.py[cod]

# catboost
server/catboost_info/

# env
.env

volumes/*
!volumes/Readme.md
server/migrations/versions/*
!server/ml_api/common/db/migrations/versions/Readme.md